<div class="new-message-toolbar" mat-dialog-title>
    <mat-icon>drafts</mat-icon>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>clear</mat-icon>
    </button>
</div>
<mat-dialog-content class="new-message-content">

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
        Send
    </button>
</mat-dialog-actions>