<content>
    <mat-list>
        <mat-list-item class="category-title">
            Today
        </mat-list-item>
        <mat-list-item *ngFor="let message of messages; let i = index;">
            <vr-inbox-message [avatar]="message.avatar" [from]="message.from" [subject]="message.subject" [body]="message.body" [recieved]="message.recieved"
                (removed)="onRemove(i)" (reply)="onNewMessage($event)">
            </vr-inbox-message>
        </mat-list-item>
    </mat-list>
</content>