<div class="dashboard" fxLayout="column">

    <div id="board">


        <!-- / HEADER -->

        <div fxFlex class="board-content-wrapper p-16 p-mat-24" [ngClass]="board.settings.color+'-100-bg'">

            <!-- BOARD -->
            <div class="board-content ngx-dnd-container p-16 p-mat-24" fxLayout="row" ngxDroppable="list" [model]="board.lists" (out)="onDrop($event)"
                [@animateStagger]="{value:'50'}">

                <!-- LIST -->
                <vr-scrumboard-board-list class="scrumboard-board-list list-wrapper ngx-dnd-item" ngxDraggable *ngFor="let list of board.lists"
                    [model]="list" [list]="list" [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                </vr-scrumboard-board-list>
                <!-- / LIST -->

                <!-- NEW LIST BUTTON-->
                <vr-scrumboard-board-add-list class="new-list-wrapper" (onlistAdd)="onListAdd($event)" [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                </vr-scrumboard-board-add-list>
                <!-- / NEW LIST BUTTON-->

            </div>
            <!-- / BOARD -->
        </div>
        <!-- primary content -->
    </div>
    <ngc-float-button icon="add" [direction]="direction">
        <ngc-float-item-button icon="person_add" content="New Project" (click)="openDialog()"></ngc-float-item-button>
        <ngc-float-item-button icon="gps_fixed" content="float item 2"></ngc-float-item-button>
        <ngc-float-item-button icon="mode_edit" content="float item 3"></ngc-float-item-button>
    </ngc-float-button>

</div>