<h2 class="new-message-toolbar" mat-dialog-title>New Project</h2>
<mat-dialog-content class="new-message-content">
    <mat-vertical-stepper>
        <mat-step label="The What">
            <div class="example-container">


                <mat-form-field *ngIf="isFormReady">
                    <input matInput maxlength="50" #input placeholder="Project Name" required>
                </mat-form-field>

                <mat-form-field *ngIf="isFormReady" class="half-width">
                    <mat-select placeholder="Current Status">
                        <mat-option *ngFor="let status of statuses" [value]="status.value">
                            {{ status.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="isFormReady">
                    <mat-label>Project Justification</mat-label>
                    <textarea matInput placeholder="Justification" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="15"></textarea>
                </mat-form-field>


            </div>
        </mat-step>
        <mat-step label="The Where">
            Content 2
        </mat-step>
        <mat-step label="The Who">
            Content 2
        </mat-step>
        <mat-step label="The When">
            Content 2
        </mat-step>
        <mat-step label="The How">
            Content 2
        </mat-step>
    </mat-vertical-stepper>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>