$toolbar-bg: #424242;
$toolbar-color: #FFF;
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 5px;
}

.new-message-toolbar {
  background: $toolbar-bg;
  color: $toolbar-color;
  padding: 11px 20px;
  position: relative;
  margin: -24px;

  .mat-icon {
    vertical-align: middle;
  }

  .mat-icon-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.recipients-list {
  width: 100%;
}

.subject-input {
  width: 100%;
}

.new-message-content {
  padding: 24px;
}

.body-input {
  width: 100%;
}

.new-message-btns {
  text-align: right;
}
