<div class="sidenav" fxLayout="column">



    <vr-scrollbar class="menu" fxFlex>
        <div class="sidenav-item-holder" *ngFor="let item of sidenavItems$ | async">
            <vr-sidenav-item class="sidenav-item-container" [item]="item" [currentlyOpen]="currentlyOpen$ | async"></vr-sidenav-item>
        </div>

    </vr-scrollbar>

</div>