<div class="profile-overview" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="32px">
  <div class="main" fxFlex.gt-sm>

    <div class="section">
      <div class="heading">ABOUT</div>
      <div class="content">
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate
          strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic
          world view of disruptive innovation via workplace diversity and empowerment.
        </p>
        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward,
          a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.
          User generated content in real-time will have multiple touchpoints for offshoring.
        </p>
      </div>
    </div>

    <div class="divider"></div>

    <div class="section">
      <div class="heading">SKILLS</div>
      <div class="content">
        <mat-chip-list class="chips">
          <mat-chip>Web Design</mat-chip>
          <mat-chip>Angular 2+</mat-chip>
          <mat-chip>iOS</mat-chip>
          <mat-chip>Android</mat-chip>
          <mat-chip>UI</mat-chip>
          <mat-chip>Javascript</mat-chip>
          <mat-chip>Photoshop</mat-chip>
          <mat-chip>PHP</mat-chip>
          <mat-chip>Linux</mat-chip>
          <mat-chip>UX</mat-chip>
          <mat-chip>Illustrator</mat-chip>
          <mat-chip>InDesign</mat-chip>
          <mat-chip>Python</mat-chip>
          <mat-chip>C#</mat-chip>
          <mat-chip>C++</mat-chip>
          <mat-chip>Communication</mat-chip>
          <mat-chip>Teamwork</mat-chip>
          <mat-chip>NodeJS</mat-chip>
        </mat-chip-list>
      </div>
    </div>

  </div>
  <div class="aside" fxFlex.gt-sm="320px">
    <div class="heading">RECENT ACTIVITY</div>

    <div class="activity">
      <div class="event" fxLayout="row">
        <div class="dot primary"></div>
        <div class="line"></div>
        <div class="info">
          <div class="when">17 mins ago</div>
          <div class="name">Called Jefferson</div>
          <div class="description">Jason called Jefferson about the meeting</div>
        </div>
      </div>

      <div class="event" fxLayout="row">
        <div class="dot accent"></div>
        <div class="line"></div>
        <div class="info">
          <div class="when">54 mins ago</div>
          <div class="name">New purchase</div>
          <div class="description">Jason successfully purchased item #26</div>
        </div>
      </div>

      <div class="event" fxLayout="row">
        <div class="dot primary"></div>
        <div class="line"></div>
        <div class="info">
          <div class="when">2 hours ago</div>
          <div class="name">Printed sales report</div>
          <div class="description">Jason printed the sales report</div>
        </div>
      </div>

      <div class="event" fxLayout="row">
        <div class="dot warn"></div>
        <div class="line"></div>
        <div class="info">
          <div class="when">4 hours ago</div>
          <div class="name">Created ticket</div>
          <div class="description">Jason created a new ticket about the design</div>
        </div>
      </div>

      <div class="event" fxLayout="row">
        <div class="dot accent"></div>
        <div class="line"></div>
        <div class="info">
          <div class="when">5 hours ago</div>
          <div class="name">New purchase</div>
          <div class="description">Jason bought the farm</div>
        </div>
      </div>
    </div>

    <div class="footer" fxLayout="row" fxLayoutAlign="center center">
      <button type="button" mat-button>LOAD MORE</button>
    </div>
  </div>
</div>