@import "src/styles/fuse";

.scrumboard-card-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 720px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {

            .due-date {

                .mat-form-field {
                    width: auto;
                    margin: 0 8px;

                    .mat-form-field-wrapper {
                        padding: 0;

                        .mat-form-field-flex {
                            align-items: center;

                            .mat-form-field-infix {
                                display: none;
                            }

                            .mat-input-element {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .mat-dialog-content {
            position: relative;
            background-color: #F5F5F5;

            .card-breadcrumb {
                font-weight: 500;
                font-size: 14px;
            }

            .card-subscribe {
                margin-right: 8px;
                color: rgba(0, 0, 0, 0.6);
            }

            .picker {
                width: 140px;
                min-width: 140px;

            }

            .card-name {
                width: 100%;
                font-size: 22px;

                @include media-breakpoint(xs) {
                    font-size: 14px;
                }
            }

            .due-date {

                .remove-due-date {
                }
            }

            .description {
                padding-bottom: 16px;
            }

            .sections {

                .section {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    margin-bottom: 32px;

                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;

                        .section-content {
                            padding-bottom: 0;
                        }
                    }

                    .section-header {
                        font-size: 16px;

                        mat-icon {
                            margin-right: 8px;
                            color: rgba(0, 0, 0, 0.6);
                        }

                        .section-title {
                            font-weight: 500;
                        }
                    }

                    .section-content {
                        padding: 24px 0 32px 0;
                    }

                    .labels {

                        .section-content {
                            padding: 8px 0 32px 0;
                        }

                        .label-chips {

                            box-shadow: none;
                            padding: 0;

                            .label-chip {
                                display: block;

                                .chip-remove {
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .members {

                        .section-content {
                            padding: 8px 0 32px 0;
                        }

                        .member-chips {
                            box-shadow: none;
                            padding: 0;

                            .member-chip {
                                padding: 4px 12px 4px 4px;

                                .member-chip-avatar {
                                    width: 32px;
                                    border-radius: 50%;
                                }

                                .chip-remove {
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .attachments {

                        .attachment {
                            margin-bottom: 16px;

                            .attachment-preview {
                                background-color: #EEF0F2;
                                width: 160px;
                                height: 128px;
                                background-size: contain;
                                background-position: 50% 50%;
                                background-repeat: no-repeat;
                                font-weight: 500;
                                color: rgba(0, 0, 0, 0.6);

                                @include media-breakpoint('xs') {
                                    margin-bottom: 24px;
                                }

                                @include media-breakpoint-up('xs') {
                                    margin-right: 24px;
                                }
                            }

                            .attachment-content {

                                .attachment-url,
                                .attachment-name {
                                    font-weight: 500;
                                    font-size: 16px;
                                }

                                .attachment-is-cover {
                                    margin-left: 6px;
                                }

                                .attachment-time {
                                    color: rgba(0, 0, 0, 0.6);
                                }

                                .attachment-actions-button {
                                    background-color: white;
                                    text-transform: capitalize;
                                    margin: 12px 0 0 0;
                                    padding-left: 12px;

                                    mat-icon {
                                        margin-left: 8px;
                                        color: rgba(0, 0, 0, 0.6);
                                    }
                                }
                            }
                        }

                        .add-attachment-button {
                            margin: 0;

                            mat-icon {
                                color: rgba(0, 0, 0, 0.6);
                                margin-right: 8px;
                            }

                            span {
                                font-weight: 500;
                                text-transform: capitalize;
                            }
                        }
                    }

                    .checklist {

                        .checklist-progress {
                            margin-bottom: 16px;

                            .checklist-progress-value {
                                margin-right: 12px;
                                font-weight: 500;
                                white-space: nowrap;
                                font-size: 14px;
                            }

                            .checklist-progressbar {
                            }
                        }

                        .editable-wrap {
                            flex: 1
                        }

                        .check-items {

                            .check-item {

                                mat-checkbox {
                                    margin-bottom: 0;

                                    .mat-label {
                                        font-size: 14px;
                                    }

                                    &.mat-checked {

                                        .mat-label {
                                            text-decoration: line-through;
                                            color: rgba(0, 0, 0, 0.6);
                                        }
                                    }
                                }
                            }
                        }

                        .new-check-item-form {
                            padding-top: 16px;

                            mat-form-field {
                                margin: 0;
                            }

                            .mat-button {
                                margin: 0 0 0 16px;
                            }
                        }
                    }

                    .comments {

                        .comment {
                            margin-bottom: 16px;

                            .comment-member-avatar {
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                margin-right: 16px;
                            }

                            .comment-member-name {
                                font-size: 14px;
                                font-weight: 500;
                            }

                            .comment-time {
                                font-size: 12px;
                            }

                            .comment-bubble {
                                position: relative;
                                padding: 8px;
                                background-color: white;
                                border: 1px solid rgb(220, 223, 225);
                                font-size: 14px;
                                margin: 4px 0;

                                &:after,
                                &:before {
                                    content: ' ';
                                    position: absolute;
                                    width: 0;
                                    height: 0;
                                }

                                &:after {
                                    left: -7px;
                                    right: auto;
                                    top: 0px;
                                    bottom: auto;
                                    border: 11px solid;
                                    border-color: white transparent transparent transparent;
                                }

                                &:before {
                                    left: -9px;
                                    right: auto;
                                    top: -1px;
                                    bottom: auto;
                                    border: 8px solid;
                                    border-color: rgb(220, 223, 225) transparent transparent transparent;
                                }
                            }

                            &.new-comment {

                                mat-form-field {
                                    margin: 0;
                                }
                            }
                        }
                    }

                    .activities {

                        .activity {
                            margin-bottom: 12px;

                            .activity-member-avatar {
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                margin-right: 16px;
                            }

                            .activity-member-name {
                                font-size: 14px;
                                font-weight: 500;
                                margin-right: 8px;
                            }

                            .activity-message {
                                font-size: 14px;
                                margin-right: 8px;
                            }

                            .activity-time {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}

.scrumboard-members-menu {
    width: 240px;
    .mat-checkbox-layout,
    .mat-checkbox-label {
        display: flex;
        flex: 1;
    }
}

.scrumboard-labels-menu {

    .mat-menu-content {
        padding-bottom: 0;

        .mat-checkbox-layout,
        .mat-checkbox-label {
            display: flex;
            flex: 1;
        }

        .views {
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            width: 240px;
            min-width: 240px;
            max-width: 240px;
            min-height: 240px;

            .view {
                position: absolute;
                width: 240px;
                height: 100%;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;

                > .header {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}
