<div class="toolbar" fxLayout="row" fxLayoutAlign="end stretch" fxFlex>

    <div class="sidenav-header" fxFlex fxFlex.gt-sm="270px" fxLayout="row" fxLayoutAlign="start center">
        <button class="menu-toggle icon-button" type="button" mat-button (click)="toggleSidenav()">
            <mat-icon class="icon">menu</mat-icon>
        </button>

        <img class="logo" alt="logo" src="assets/img/map.svg" fxHide fxShow.gt-sm>
        <h3 fxFlex> &nbsp;&nbsp;Mango & Sticky Rice</h3>
    </div>
    <div fxFlex></div>
    <div fxFlex></div>
    <div fxFlex></div>
    <div fxLayout="row" fxLayoutAlign="end end" fxLayoutAlign.gt-sm="space-between stretch" fxFlex>





        <vr-toolbar-user-button></vr-toolbar-user-button>
    </div>

</div>