<div class="projects">


  <div class="container">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <vr-breadcrumbs [currentPage]="'Projects'" [header]="'primary'"></vr-breadcrumbs>
      <div class="actions" fxLayout="row" fxLayoutAlign="end center" [fxLayoutGap]="mobileGap" [fxLayoutGap.gt-sm]="desktopGap">
        <mat-form-field>
          <mat-select class="filter" [(ngModel)]="filter" (change)="filterProjectsBy($event)">
            <mat-option value="ALL">All</mat-option>
            <mat-option value="ONGOING">Ongoing</mat-option>
            <mat-option value="FINISHED">Finished</mat-option>
            <mat-option value="DRAFT">Draft</mat-option>
          </mat-select>
        </mat-form-field>
        <button type="button" mat-raised-button color="primary">Create Project</button>
      </div>
    </div>

    <div class="projects-container" fxLayout="row" [fxLayoutGap]="mobileGap" [fxLayoutGap.gt-sm]="desktopGap" fxLayoutWrap.gt-sm="wrap">

      <div class="project mat-elevation-z4" *ngFor="let project of filteredProjects" [fxFlex]="mobileWidth" [fxFlex.gt-xs]="smallTabletWidth"
        [fxFlex.gt-sm]="tabletWidth" [fxFlex.gt-md]="desktopWidth">

        <div class="header" [style.background]="project.background">
          <div class="content">
            <div fxLayout="column" fxFlex="auto">
              <div class="top-row" fxLayout="row" fxLayoutAlign="space-between center">
                <div>{{ project.date.format('LL') }}</div>
                <button mat-icon-button type="button" [matMenuTriggerFor]="menuRef">
                  <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
              <div class="codename" fxLayout="row" fxLayoutAlign="center center" fxFlex="auto">
                {{ project.codename }}
              </div>
            </div>
          </div>
        </div>

        <div class="details">
          <div class="content">
            <div class="name">{{ project.name }}</div>
            <div class="members" fxLayout="row">
              <div class="member" *ngFor="let member of project.members">
                <img [src]="member.image">
              </div>
            </div>
            <div class="divider"></div>
            <div class="status success" [class.ongoing]="project.status === 'ONGOING'" [class.finished]="project.status === 'FINISHED'"
              [class.draft]="project.status === 'DRAFT'">{{ project.status }}</div>
          </div>
        </div>

        <div class="overlay">
          <div class="overlay-content" fxLayout="column" fxLayoutAlign="space-between">
            <div class="overlay-actions" fxLayout="row" fxLayoutGap="16px">
              <button [routerLink]="['/pages/projects']" type="button" matTooltip="Edit" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button [routerLink]="['/pages/projects']" type="button" matTooltip="Upload" mat-icon-button>
                <mat-icon>backup</mat-icon>
              </button>
              <button [routerLink]="['/pages/projects']" type="button" matTooltip="Delete" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <button [routerLink]="['/pages/project-details']" type="button" mat-raised-button>View Project</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<mat-menu #menuRef="matMenu">
  <button mat-menu-item>
    <mat-icon>archive</mat-icon> Archive </button>
  <button mat-menu-item>
    <mat-icon>label</mat-icon> Labels </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon> Delete </button>
</mat-menu>