/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
$fa-font-path: '../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


@import '~highlight.js/styles/androidstudio.css';
svg.ngx-charts {
  padding: 1px;
}
@import 'styles/var';
@import 'styles/misc';
@import 'styles/card';
@import 'styles/boxed';
@import 'styles/badges';
@import 'styles/helpers';
@import 'styles/elevation';
@import 'styles/components/sidenav';
@import 'styles/components/quickpanel';
@import 'styles/components/toolbar';
@import 'styles/components/dashboard';
@import 'styles/pages/profile';
@import 'styles/pages/form-wizard';
@import 'styles/layouts/layout-beta';
@import 'styles/pages/components';


// Perfect scrollbar
@import '~perfect-scrollbar/css/perfect-scrollbar';

// Partials
@import "styles/core";


