<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>

                {{from}}
            </mat-panel-title>
            <mat-panel-description fxFlex fxFill class="message-subject">
                {{subject}}
            </mat-panel-description>


        </mat-expansion-panel-header>

        <div>{{body}}</div>


    </mat-expansion-panel>
</mat-accordion>