<div class="settings">
    <div id="settings-filters" fxLayout="column" fxLayoutAlign="start start">
        <div class="title no-margin-top">Filters: </div>
        <mat-form-field>
            <mat-select placeholder="Selected Account(s)" [(ngModel)]="filter.account" name="a">
                <mat-option *ngFor="let account of accounts" [value]="account.value">
                    {{account.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="startDatePicker" [formControl]="startDate" placeholder="Choose a start date">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="endDatePicker" [formControl]="endDate" placeholder="Choose a end date">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

    </div>
    <button mat-raised-button color="primary" (click)="applyFilters()">Apply</button>


</div>