@import "src/styles/fuse";

:host {
    min-height: 100%;

    #boards {
        width: 100%;
        overflow: auto;

        .board-list {
            padding: 32px 0;
            max-height: none !important;

            .board-list-item {
                min-width: 210px;
                width: 210px;
                padding: 24px 0;
                margin: 16px;
                border-radius: 2px;
                background: rgba(0, 0, 0, 0.12);
                cursor: pointer;

                &:hover {
                    @include mat-elevation(4);
                }

                .board-name {
                    padding-top: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}

